<header>
  <nav class="header-nav">
    <div class="nav-container">
      <div class="headline-md">KyleAnnett.DEV</div>
      <div class="header-links">
        <a class="body-md link-md" href="#hero">Nexus</a>
        <a class="body-md link-md" href="#about">About</a>
        <a class="body-md link-md" href="#skills">Systems</a>
        <a class="body-md link-md" href="#projects">Artifacts</a>
        <a class="body-md link-md" href="#experience">Experience</a>
      </div>
      <button class="label-caps primary-button"> Hire Me </button>
    </div>
  </nav>
</header>

<style>
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    align-content: center;
    z-index: var(--header-z-index);
    background-color: var(--glass-background);
    color: var(--on-surface);
    border-bottom: var(--glass-border);
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--layout-max-width);
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing-1) var(--spacing-3);
  }

  .header-links {
    display: flex;
    gap: var(--spacing-2);
  }
</style>
